.navbar{
    background-color:#e25300;
    border:#e25300;
}
.navbar-brand{
    color:white !important;
}
.navbar-brand:hover{
    color:rgba(255,255,255,0.7) !important;
}
ul.navbar-nav li a{
    color:white !important;
}
ul.navbar-nav li a:hover{
    color:rgba(255,255,255,0.7) !important;
    background:#555 !important;
}
.panel-default{
    background:#555;
    border:#666;
    -webkit-box-shadow: 5px 5px 5px 0px #222222;
    -moz-box-shadow: 5px 5px 5px 0px #222222;
    box-shadow: 5px 5px 5px 0px #222222;
}
.panel-default .panel-heading{
    background:#e25300;
    border:#666;
}
.panel-default .panel-footer{
    background:#333;
    border:#666;
}
.btn-primary, .btn-primary:focus, .btn-primary:active{
    background:#e25300;
    border-color:white !important;
}
.btn-primary:hover{
    background:#555;
    color:#e25300;
}
.modal-dialog{
    background:#555;
    border:#AAA;
    -webkit-box-shadow: 5px 5px 5px 0px #222;
    -moz-box-shadow: 5px 5px 5px 0px #222;
    box-shadow: 5px 5px 5px 0px #222;
    border-radius:5px 5px;
}
.modal-dialog .modal-header {
    background: #e25300;
    border: #666;
}
.modal-dialog .modal-footer{
    background:#333;
    border:#666;

}
.with-errors{
    color:white !important;
}
td{
    vertical-align:middle !important;
}

.modal-table{
    color:#222;
    font-size:11pt;
    margin-top:10px;
}

.modal-body{
    color:#444;
}

.footer-text{
    position:fixed;
    width:100%;
    bottom:0px;
    left:0px;
    right:0px;
    text-align:center;
    color:white !important;
    font-size:9pt;
}

p.warning{
    font-weight:bold;
    color:darkred;
}